<div class="tab actor-inventaire" data-group="primary" data-tab="actor-inventaire">
    <div class="editor-arme">
        <label class="labelEditor">Arme</label>
        <textarea class="textareaArme"name="system.arme">{{system.arme}}</textarea>
    </div>

    <div class="editor-protection">
        <label class="labelEditor">Protection</label>
        <textarea class="textareaProtection"name="system.protection">{{system.protection}}</textarea>
    </div>

    <div class="editor-materiel">
        <label class="labelEditor">Matériels</label>
        <textarea class="textareaMateriel"name="system.materiel"name="system.materiel">{{system.materiel}}</textarea>
    </div>

    <div class="editor-fortune">
        <label class="labelEditor">Fortune</label>
        <textarea class="textareaFortune"name="system.fortune">{{system.fortune}}</textarea>
    </div>

    <div class="editor-dettes">
        <label class="labelEditor">Dettes</label>
        <textarea class="textareaDettes"name="system.dettes">{{system.dettes}}</textarea>
    </div>
     <div class="editor-anciennnete-respect">
        <label class="labelEditor">Ancienneté/Respect</label>
        <textarea class="textareaAnciennete"name="system.anciennete">{{system.anciennete}}</textarea>
    </div>
</div>    